body{
background-color: pink;
}
#fejléc{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    background-color: pink;
    font-size: 30px;
}

#logo{
    height: 150px;
    width: 150px;
    float: right;
}
.nev{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue; 
}
.komment{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkblue;
    color: white;
}