
#logo{
    height: 150px;
    width: 150px;
    float: right;
}

#fidesz{
	height: 150px;
    width: 150px;
	float: right;
}

#TRD{
    text-align: center;
    width: 100%;
}

td.TDR{
    width: 33%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fő{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.TDR{
    width: 250px;
    height: 250px;
}

#doboz1{
    height: 50px;
    width: 300px;
    font-size: 20px;
}

#vásárlás{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#doboz2{
    width: 800px;
    height: 50px;
    font-size: 20px;
}

p.nagy{
    font-size: 60px;
}

td.utcsó{
    float: right;
}

p.hiba{
    font-size: 100px;
}

p.ui{
    font-size: 10px;
}

#lop{
    font-size: 20px;
}

#kés2{
    border: 2px solid rgb(255, 255, 255);
    width: 71px;
    float: right;
}

#fejléc{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    border-radius: 5px;
}


#ikon{
    width: 18px;
    height: 18px;
    float: left;

}
p.asd{
    font-size: 20px;
}

body.insta{
    background-image: url(Kapcsolatok/Insta_backpic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;

}

.fg{
    color: black;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

body.asd{
    background-image: url(Kapcsolatok/twitter_backpic.gif); 
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-color: rgb(232, 240, 240);
}

.bal {
float: left;
}
.jobb {
float: right;
}
span.jobb {
display: block;
text-align: right;
}
  
.nevek{
color:green;
font-weight: bold;
}
#leiras-rolunk{
    background-color: rgba(256, 256, 256, 0.5);
    width: 880px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 35px;
}

p.kecske{
    font-size: 24px;
}
    
#HD620{
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}
  
#alma{
    width: 100%;
    text-align: center;
}
  
#kisköcsög{
    width: 33%;
    font-size: 30px;
}
  
#nagyköcsög{
    width: 50%;
    font-size: 40px;
}
  
#legnagyobbköcsög{
    font-size: 50px;
    text-align: center;
}
  
#kicsi{
    width: 200px;
    height: 200px;
    border: white 10px solid;
    border-radius: 4px;
}
  
#nagy{
    width: 250px;
    height: 250px;
    border: white 15px solid;
    border-radius: 4px;
}


img.kiskep{
    width: 75px;
    height: 75px;
    float: right;
    padding-left: 10px;

}
#leiras{
  color: white;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(69, 69, 69, 0.7);
	width: 880px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
  padding: 35px;
  float: left;
  text-align: justify;

}

#nyeremeny{
  color: #00caf3;
}  

a{
    color: rgb(255, 255, 255);
}

#kés{
  border: 2px solid rgb(255, 255, 255);
  width: 94px;
  float: right;
}


#nm{
  background-image: url(Hírek/onnyert.gif);
  background-size: 100%;
}

#fg{
  color: white;
  float: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body.error{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#kés3{
  border: 2px solid rgb(255, 255, 255);
  width: 122px;
  float: right;
}

#hétár{
  background-image: url(Hírek/Hack.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}


body{
    background-image: url(background.jpg);
    background-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    }
    
.nev{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(138, 138, 255); 
    }
.komment{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         
    }

textarea{
    resize: none;
}

button{
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: rgb(138, 138, 255);
    border-radius: 10px;
}
