img.kiskep{
    width: 75px;
    height: 75px;
    float: right;
    padding-left: 10px;

}
#leiras{
  color: #00caf3;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
	width: 880px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
  padding: 35px;
  float: left;
  text-align: justify;

}

#nyeremeny{
  color: #00caf3;
}
#hatterkep{
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ff6a00;
    background-position: center;
  }
  #fejléc{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
  }
  
  #logo{
    height: 150px;
    width: 150px;
    float: right;
  }

#ÁTHELYEZETT{
  background-image: url('https://i.ibb.co/pnZfN9k/fatyol.png');
}
a{
  color: #00caf3;
}

#doboz1{
  height: 50px;
  width: 300px;
  font-size: 20px;
}

#doboz2{
  width: 800px;
  height: 50px;
  font-size: 20px;
}

#kés{
  border: 2px solid black;
  width: 94px;
  float: right;
}

#hjk{
  color: black;
}

#nm{
  background-image: url(onnyert.gif);
  background-size: 100%;
}

#fg{
  color: white;
  float: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#vásárlás{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

p.nagy{
  font-size: 60px;
}

body.error{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.hiba{
  font-size: 100px;
}

p.ui{
  font-size: 10px;
}

#kés3{
  border: 2px solid black;
  width: 122px;
  float: right;
}

#hétár{
  background-image: url(Hack.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}