.bal {
  float: left;
}
.jobb {
  float: right;
}
span.jobb {
  display: block;
  text-align: right;
}

.nevek{
  color:green;
  font-weight: bold;
}
#leiras{
	background-color: rgba(256, 256, 256, 0.5);
	width: 880px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
  padding: 35px;
}
p.kecske{
  font-size: 24px;
}

#hatterkep{
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: rgb(55, 230, 32);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fejléc{
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
  font-size: 30px;
  background-color: rgb(55, 230, 32))
}

#logo{
  height: 150px;
  width: 150px;
  float: right;
}

#HD620{
  font-size: 20px;
  text-align: justify;
  margin: 20px;
}

#alma{
  width: 100%;
  text-align: center;
}

#kisköcsög{
  width: 33%;
  font-size: 20px;

}

#nagyköcsög{
  width: 50%;
  font-size: 25px;
}

#legnagyobbköcsög{
  font-size: 30px;
  text-align: center;
}

#kicsi{
  width: 200px;
  height: 200px;
}

#nagy{
  width: 250px;
  height: 250px;
}
#fidesz{
	height: 150px;
    width: 150px;
	float: right;
}