#fejléc{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    background-color: cadetblue;
    font-size: 30px;
}

#logo{
    height: 150px;
    width: 150px;
    float: right;
}
img.logo{
    width: 18px;
    height: 18px;
    float: left;

}
p.asd{
    font-size: 20px;
}
body.hatter{
    background-image: url();
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    background-color:cadetblue;
}
body.insta{
    background-image: url(Instagl.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
body.faszbuk{
background-image: url(arckönyv.png);
background-repeat: no-repeat;
background-size: 1920px 1080px;

}
body.madar{
background-image: url(twitter.gif);
background-repeat: no-repeat;
background-size: 1920px 1080px;

}
.fg{
    color: black;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

body.asd{
    background-image: url(twitter2.gif); 
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-color: rgb(232, 240, 240);
}